**/.DS_Store

# LaTeX auxiliary files (slide/ and latext/)
latext/**/*.aux
latext/**/*.toc
latext/**/*.log
latext/**/*.out
latext/**/*.nav
latext/**/*.snm
latext/**/*.synctex.gz
latext/**/*.fls
latext/**/*.fdb_latexmk
latext/**/*.bbl
latext/**/*.blg
latext/**/*.lof
latext/**/*.lot
latext/**/*.lol
latext/**/*.idx
latext/**/*.ilg
latext/**/*.ind
latext/**/*.xdv
latext/**/*.dvi
latext/**/*.vrb
latext/**/*.bcf
latext/**/*.run.xml
slide/*.aux
slide/*.toc
slide/*.log
slide/*.out
slide/*.nav
slide/*.snm
slide/*.synctex.gz
slide/*.fls
slide/*.fdb_latexmk
slide/*.bbl
slide/*.blg
slide/*.lof
slide/*.lot
slide/*.idx
slide/*.ilg
slide/*.ind
slide/*.xdv
slide/*.dvi
slide/*.vrb
slide/*.bcf
slide/*.run.xml

spark_streaming/*
!spark_streaming/jobs

dbt/*
!dbt/my_project
!dbt/docker-compose.yml

postgres
airflow.env
airflow/*
!airflow/dags
